.l-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px -24px;


    &__item {
        box-sizing: border-box;
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 24px;
        padding-left: 12px;
        padding-right: 12px;

        &--delimiter {

            &:before {
                content: "";
                display: block;
                border-bottom: 1px solid #dadfe5;
            }
        }
    }

    &--2col & {
        &__item {
            width: 50%;
        }
    }

    &--3col & {
        &__item {
            width: 33.33%;
        }
    }

    &--4col & {
        &__item {
            width: 25%;
        }
    }

    &--item,
    &--2col &__item,
    &--3col &__item,
    &--4col &__item {

        &--delimiter,
        &--full {
            width: 100%;
        }
    }

    //小間距
    &--sm {
        margin: 0 -8px -16px;
    }

    &--sm>& {
        &__item {
            margin-bottom: 16px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    //最小間距
    &--xs {
        margin: 0 -8px -8px;
    }

    &--xs>& {
        &__item {
            margin-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    // Modifier - 業務員檔案牆用
    &--achv & {
        &__item {
            width: 25%;
        }
    }

    &--achv &__item+&__item {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 7px;
            bottom: 7px;
            left: 0;
            display: inline-block;
            width: 1px;
            background-color: #dadfe5;
        }
    }

    // Modifier - 行銷互動 首頁快捷清單入口
    &--marketing & {
        &__item {
            width: 20%;
        }
    }

    &--recommend & {
        &__item {
            width: 25%;
        }
    }

    @include breakpoint-down("mobile") {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -16px;

        &__item {
            margin-bottom: 16px;
        }

        &__item,
        &--sm>&__item,
        &--xs>&__item {
            padding-left: 0;
            padding-right: 0;
        }

        &--2col &__item,
        &--3col &__item,
        &--4col &__item {
            width: 100%;

            &--delimiter {
                display: none;
            }
        }

        &--xs {
            margin-bottom: -8px;
        }

        // Modifier - 業務員檔案牆用
        &--achv {
            margin-bottom: -24px;
        }

        &--achv & {
            &__item {
                width: 50%;
                margin-bottom: 24px;

                &:nth-child(2n+1) {
                    &:before {
                        content: none;
                    }
                }
            }
        }

        &--achv &__item+&__item {
            margin-top: 0;
        }

        // Modifier - 行銷互動 首頁快捷清單入口
        &--marketing {
            margin-left: -8px;
            margin-right: -8px;
        }

        &--marketing & {
            &__item {
                width: 33.33%;
                padding-left: 6px;
                padding-right: 6px;
            }
        }

        &.is-col-m#{&}--2col &__item {
            width: 50%;
        }


        &--recommend {
            margin-left: -12px;
            margin-right: -12px;
        }

        &--recommend & {
            &__item {
                width: 50%;
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}

// 均分欄位
.l-split {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;

    &__item {
        position: relative;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 8px;
    }

    // 欄位數
    &--2col & {
        &__item {
            width: 50%;
        }
    }

    // marketing: 行銷互動卡片
    &--3col &,
    &--marketing & {
        &__item {
            width: 33.33%;
        }
    }

    &--4col & {
        &__item {
            width: 25%;
        }
    }

    &--5col & {
        &__item {
            width: 20%;
        }
    }

    &--2col &__item:nth-child(2)~&__item,
    &--3col &__item:nth-child(3)~&__item,
    &--4col &__item:nth-child(4)~&__item,
    &--5col &__item:nth-child(5)~&__item,
    &--marketing &__item:nth-child(3)~&__item {
        margin-top: 16px;
    }

    &--gap4#{&}--2col &__item:nth-child(2)~&__item,
    &--gap4#{&}--3col &__item:nth-child(3)~&__item,
    &--gap4#{&}--4col &__item:nth-child(4)~&__item,
    &--gap4#{&}--5col &__item:nth-child(5)~&__item {
        margin-top: 4px;
    }

    // 垂直線分隔符號
    &--delimiter & {
        &__item {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 1px;
                height: 32px;
                background-color: #dadfe5;
                transform: translateY(-50%);
            }
        }
    }

    &--delimiter#{&}--2col &__item:nth-child(2n+1),
    &--delimiter#{&}--3col &__item:nth-child(3n+1),
    &--delimiter#{&}--4col &__item:nth-child(4n+1),
    &--delimiter#{&}--5col &__item:nth-child(5n+1) {
        &:before {
            content: none;
        }
    }

    &--smSpace {
        margin-left: -4px;
        margin-right: -4px;

    }

    &--smSpace>& {
        &__item {
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    &--noSpace {
        margin: 0;
    }

    &--noSpace>& {
        &__item {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include breakpoint-down("tablet") {
        &--marketing & {
            &__item {
                padding: 0 6px;
            }
        }

        &--marketing &__item:nth-child(3)~&__item {
            margin-top: 12px;
        }
    }
}

.l-outcome {
    display: flex;
    justify-content: space-between;

    &__item {
        flex: 1;

        &+& {
            margin-left: 54px;
        }
    }

    @include breakpoint-down("tablet") {
        flex-direction: column;

        &__item {
            &+& {
                margin-top: 24px;
                margin-left: 0px;
            }
        }

    }
}